.photoModal {
    overflow-y: initial !important;
}

.photoModalBody {
    /*height: 320px;
    overflow-y: auto;*/
}

.blockEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.cross-background {
    color: red;
}