.topBar {
    margin: 5px 0 5px 0;
}

.navbar-fixed-bottom, .navbar-fixed-top, .navbar-static-top {
    margin: 0 0 0 0 !important;
}

.container {
    /*padding-right: 0px !important;
    padding-left: 0px !important;*/
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {

}

.navbar-brand {
    display: flex;
    align-items: center;
}
.navbar-brand>img {
    padding: 7px 14px;
    width: 75px;
    height: 60px;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

/*

.navbar-default {
    background-color: #FFBD68 !important;
    background-image: none !important;
}

 */

.navbar-default {

    background: rgb(255, 88, 137); /* For browsers that do not support gradients */
    background-image: -webkit-linear-gradient(left bottom, rgb(255, 88, 137), rgb(255, 189, 104)); /* For Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(left bottom, rgb(255, 88, 137), rgb(255, 189, 104)); /* For Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(left bottom, rgb(255, 88, 137), rgb(255, 189, 104)); /* For Firefox 3.6 to 15 */
    background-image: linear-gradient(to left bottom, rgb(255, 88, 137), rgb(255, 189, 104)); /* Standard syntax */

}

.navbar-default .navbar-brand:hover {
    color: #FFFFFF;

}

.navbar-default .navbar-nav>li>a {
    color: #FFFFFF !important;
}
